:root{
    --darkBrown: #573300;
    --lightBrown: #c99d61;
}

::selection {
    background-color: var(--darkBrown);
    color: var(--lightBrown);
}

* {
    font-family: dancing, serif, sans-serif;
}

@font-face {
    font-family: dancing;
    src: url("fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}


body {
    text-align: center;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-color: var(--lightBrown);
}

#mainInput {
    height: 26mm;
    width: calc(100% - 385px);
    border-color: var(--darkBrown);
    font-size: 50px;
    text-align: left;
    margin-top: 1.6mm;
    position: absolute;
    left: 240px;
}

button{
    border-color: var(--darkBrown);
    font-size: 40px;
    margin: 1.6mm;
    height: 26mm;
    width: 20%;
    transition: 0.3s;
}

button:hover{
    color: var(--lightBrown);
    background-color: var(--darkBrown);
    border-color: var(--lightBrown);
    transition: 0.3s;
    box-shadow: 0 0 6px var(--darkBrown);
    text-shadow: 0 0 5px;
}

button, #mainInput{
    text-shadow: 0 0 3px;
    box-shadow: 4px 4px 5px;
    color: var(--darkBrown);
    border-radius: 25px;
    border-width: 5px;
    background-color: var(--lightBrown);
}

button, .sideBar {
    user-select: none;
}

#swapSvg {
    fill: var(--darkBrown);
    position: relative;
    top: 2px;
    transition: 0.3s;
}

#swap:hover #swapSvg {
    fill: var(--lightBrown);
    transition: 0.3s;
}

#github {
    width: 100px;
    position: fixed;
    left: 50px;
    bottom: 50px;
    fill: #472300;
    filter: drop-shadow(3px 5px 2px #00000095);
}
#github:hover {
    fill: var(--darkBrown);
}

.sideButtons button:hover {
    color: var(--lightBrown);
    background-color: var(--darkBrown);
    border-color: var(--darkBrown);
}

.sideBar {
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: var(--darkBrown);
    color: var(--lightBrown);
    padding: 0;
    margin: 0;
    text-align: left;
}

.sideBar header {
    text-align: center;
    font-size: 30px;
    line-height: 70px;
    background-color: #472300;
}

.sideBar select {
    width: 100%;
    background-color: var(--darkBrown);
    border: 0;
    outline: none;
}

.sideBar select option {
    padding: 10px;
    color: var(--lightBrown);
    font-size: 30px;
}

.sideBar select option:hover {
    text-shadow: 0 0 5px;
    background-color: #472300;
    padding-left: 20px;
    font-size: 32px;
}

.sideBar select option:checked {
    background-color: #472300;
}


@media only screen and (orientation : landscape) {
    button {
        max-width: 140px;
        width: calc(12.5vw - 25px);
    }

    #mainInput {
        position: absolute;
        top: 10px;
    }

    .sideButtons button {
        position: absolute;
        top: 10px;
        height: 29mm;
        width: 100px;
    }
    #bar {
        left: 10px;
    }
    #barclose {
        left: 310px;
    }
    #rfg {
        left: 120px;
    }
    #swap {
        right: 10px;
    }

    @media only screen and (min-width : 30cm) {
        .mainDiv {
            position: absolute;
            top: 4cm;
            left: 52%;
        }
        
        .functionsDiv {
            position: absolute;
            top: 4cm;
            right: 52%;
        }
    }

    @media only screen and (max-width : 30cm) {
        .mainDiv {
            position: absolute;
            top: 4cm;
            left: calc(50vw + 1mm);
        }
        
        .functionsDiv {
            position: absolute;
            top: 4cm;
            right: calc(50vw + 1mm);
        }
    }
}

@media only screen and (orientation : portrait) {
    button {
        width: calc(25vw - 25px);
    }

    .mainDiv {
        position: relative;
        top: 150px;
        left: 0;
    }
    
    .functionsDiv {
        position: relative;
        top: 150px;
        left: 0;
    }

    #mainInput {
        position: absolute;
        left: 15px;
        width: calc(100vw - 60px);
    }

    .sideButtons button {
        width: calc(33vw - 25px);
    }

    #swap {
        position: relative;
        top: 23px;
    }

    #github {
        display: none;
    }
}